.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #61647d;
    text-transform: uppercase;
    color: #61647d;
    font-size: 20px;
    margin-bottom: 40px;
}
header, footer{
     background: #61647d;
}
.navbar-inverse{
    background: #61647d;
    font-family: 'Roboto', sans-serif;


}
.navbar-nav li{

    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li.menu-top-active{
     background: #425065;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff!important;
}
#day, #month, #year{
    width: 20%;
    display: inline-block;
}

#day1, #month1, #year1{
    width: 30%;
    display: inline-block;
}

.btn-file{
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}
.navbar-toggle {
    background-color:  #425065!important;
}
   
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 7px !important;
    margin-left: 0px !important;
}

.answer{
    background: #4cff2b;
}

.your_answer{
    color: red;
}

.error-input{
    color:red;
    font-style: italic;
}